version: "3"


services:
  mongodb:
    image: mongo
    ports:
      - 27017:27017


  backend:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - PORT=3000
      - MONGO_URL=mongodb://mongodb:27017/aksh
      - MONGO_DB=aksh
    ports:
      - 3000:3000
